@font-face {
    font-family: fontarchiu ;
    src: url(Barlow_Condensed.zip);
}

h1 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30 pt;
    color: rgb(129, 33, 33) ;
    text-decoration: underline;
}
p {
    font-family: fontarchiu ;
    font-size: 12 pt;
    color: blue;
    text-align: right;

}
header {
    background-color: rgb(0, 255, 221);
}
h2 {
    font-family: fontarchiu ;
    font-size: 24 pt;
    color: blue;
    text-align: right;
}
